<html lang="ru">
<head>
    <title>Церезит</title>
    <link rel="stylesheet" href="/static/styles/paint_style.css">
</head>

<header>
    <a href="/"><img src="/static/img/logo.png" alt="home" class="header-img"></a>
</header>

<body>
    <div class="paint-container">
        <div class="paint-image-container">
            <img src="http://localhost:9000/paints/{{.Paint.Photo}}" alt="img" class="paint-image">
        </div>
        <div class="paint-info">
            <h1 class="paint-title">{{.Paint.Title}}</h1> 
            <div class="paint-hiding-power">Укрывистостью {{.Paint.HidingPower}}  1</div>
        </div>
    </div>
    <div class="paint-description">
        <p>{{.Paint.Description}}</p>
    </div>
</body>
</html>