body {
    background-color: #F2F2F2;
    color: #212529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 35px;
}

.header-img {
    width: 195px;
    height: 45px;
    cursor: pointer;
}

.calculate-header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr 1fr;
    gap: 20px;
    padding: 20px 50px;
    margin: 20px 20px;
    font-weight: bold;
    font-size: 18px;
}

.header-item {
    text-align: center;
    padding: 10px;
}




.calculate-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calculate-card {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    align-items: center;
}

.card-image-container {
    display: flex;
    justify-content: center;
}

.card-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 5px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 0 10px;
}

.input-container {
    display: flex;
}

.area-input {
    width: 100px;
    padding: 10px;
    border: 2px solid #f2f2f2;
    font-size: 16px;
    text-align: center;
}

.area-input:focus {
    outline: none;
    border-color: #f2f2f2;
}



.counter-container {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.counter-btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-btn:hover {
    background-color: #f2f2f2;
    color: white;
}

.counter-display {
    width: 50px;
    height: 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.counter-value {
    font-size: 18px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
}


.result-unit {
    font-size: 14px;
}

.calculate-button {
    background-color: black;
    color:white;
    font-size: 17px;
    border-radius: 5px;
    height: 37px;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 40px 40px 50px ;
}