header {
    background-color: black;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 35px;
}

body {
    background-color: white;
    color:#212529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.header-img { 
    width: 195px;
    height: 45px;
    cursor: pointer;
}

.order-image {
    width: 500px;
    height: 500px;
}

.order-container {
    display: flex;
    gap: 40px;
    margin: 30px 0;
    align-items: flex-start;
}

.order-image-container {
    flex-shrink: 0;
}

.order-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.order-title {
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
}

.order-hiding-power {
    font-size: 24px;
    margin: 0;
}

.order-description {
    margin-top: 40px;
    padding: 0 10px;
    border: 2px solid #eee;
    padding-top: 30px;
}

.order-description p {
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0;
    white-space: pre-line; 
}