body {
    background-color: #F2F2F2;
    color:#212529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: black;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 35px;
}

.header-img { 
    width: 195px;
    height: 45px;
    cursor: pointer;
}

.search {
    flex:1;
    font-size: 16px;
    height: 45%;
    min-width: 500px;
    outline:none;
    margin-left:800px;
}

.button {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
}

.search-logo {
    width: 50%;
}

.paint {
     background-color: white;
    width: 300px;;
    height:440px;
    overflow:hidden;
    display:flex;
    margin:30px;
    flex-direction: column;
    justify-content: space-between;     
}

.paint-title {
    font-size:24px;
    margin: 25px 0 0 15px;
    text-align: left;
    padding: 0 10px; 
}

.paint-image-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 15px;
    width: 100%;
}

.paint-container {
     padding:50px;
    gap:30px;
    display: flex;
    flex-wrap: wrap;
}
.paint-button {
    background-color: black;
    color:white;
    font-size: 17px;
    border-radius: 5px;
    height: 37px;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0 15px 25px 0 ;
}

.paint-image {
    border:none;
    width:100%;
    height:240px;
    object-fit: contain;
}


.paint-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    gap:15px;
}

.hiding-power {
    font-size: 20px;
    margin: 0 0 25px 25px;
    flex: 1;
}

.calculate-button {
    position:fixed;
    right:20px;
    bottom:30px;
    text-decoration:none;
    color: #212529;
    font-size: 20px;
}

.calculate-logo {
    width:80px;
    height: 80px;
}




