<html lang="ru">
<head>
    <title>Церезит</title>
    <link rel="stylesheet" href="/static/styles/paints_style.css">
</head>
<body>
    <header>
        <a href="/"><img src="/static/img/logo.png" alt="home" class="header-img"></a>
        <form action="/" method="GET">
            <input type="text" name="query" value="{{ .query }}" class="search">
            <button type="submit" class="button"><img src="/static/img/search.png" class="search-logo"></button>
        </form>
    </header>
    
    <p style="font-size: 34px;background-color: white;padding-left: 35px;height: 70px;padding-top:20px;margin: 0px;">Продукты</p>

    <div class="paint-container">
    {{ range .Paints }}
    <div class="paint">
        <p class="paint-title">{{.Title}}</p>
        <div class="paint-image-container">
            <img src="http://localhost:9000/paints/{{.Photo}}" alt="img" class="paint-image">
        </div>
        <p class="hiding-power">{{.HidingPower}}  г/м²</p>
        <div class="paint-footer">
            <form action="/add-to-paint_request" method="POST" style="display: inline;">
                <input type="hidden" name="paint_id" value="{{.ID}}"> 
                <input type="hidden" name="area" value="1">
                <input type="hidden" name="layers" value="1">
                <button type="submit" class="paint-button">Добавить</button>
            </form>
            <a href="/paint/{{.ID}}" class="paint-button">Подробнее</a>
        </div>
        </div>
        {{ end }}
    </div>
    
    <a href="/paints_calculate" class="calculate-button">
        <img src="/static/img/calculate.png" alt="Калькулятор" class="calculate-logo">
        <span>2</span>
    </a>
</body>
</html> 